/* Base button styles */

/* Use the Tailwind-defined color variable */
.standard-button, .premium-button {
    color: var(--color-text); /* Use the Chrome gradient */
    background-color: var(--color-chrome);
}

/* Hover effects */
button:hover {
    opacity: 0.9;
}
