@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 2em; /* Adjust size as needed */
    text-align: left; /* Align text to the left */
    margin-bottom: 20px; /* Adjust space below the header */
  }