.css-1q2fuvl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    z-index: 2;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 60px;
    margin-top: 200px;
}


.css-1ciqiz7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: linear-gradient(to top, #4a25e0, #7a5aff);
    width: 120px;
    height: 50px;
    box-shadow: 14px 27px 45px rgba(0, 29, 57, 0.2);
    border-radius: 14px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    margin: 20px;
}

