.prompts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 10px;
  box-sizing: border-box; 
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.space-x-2 > :not(:last-child) {
  margin-right: 0.5rem;
}

.justify-center {
  justify-content: center;
}

.rounded-button {
  border-radius: 70px; /* Adjust this value to change the roundness of the corners */
}


