.school-details-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 100%; /* Use full width available */
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent horizontal scroll */
}

.school-details-content {
  display: flex;
  justify-content: space-between;
  max-height: 20;
}

.school-details {
  flex: 1;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 5px;
}

.screen-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Fit within container */
  gap: 20px; /* Add some space between the two chat containers */
  margin-top: 20px;
  max-width: 100%;
}

.chat-container-wrapper {
  flex: 1;
  margin-top: -220px; /* Adjust this value to move the Messages card higher */
}

.chat-container2-wrapper {
  width: 35%;
  max-width: 35%;
}

.chat-container,
.chat-container2 {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex: 1; /* Allow messages to take up remaining space */
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: rgba(112, 144, 176, 0.1) 14px 17px 40px 4px;
}

.message {
  margin-bottom: 10px;
}

.message.user {
  text-align: right;
  color: blue;
}

.message.bot {
  text-align: left;
  margin-bottom: 12px;
  padding: 8px 12px;
  border-radius: 16px;
  white-space: pre-wrap; /* Preserve line breaks */
  max-width: 95%; /* Prevent messages from being too wide */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-button,
.reset-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background: linear-gradient(to top, #4a25e0, #7a5aff);
  color: white;
}

.submit-button:hover,
.reset-button:hover {
  opacity: 0.9;
}

.badge {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 9999px;
  background-color: #f3f4f6;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 500;
}

.badge-pill {
  margin-right: 0.5rem;
}
